################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TempleWare-CS2/x64/Debug
/x64/Debug
/TempleWare-CS2/x64/Release
/x64/Release
